

.cityName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
}

.current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    border: solid;
    border-color: black;
}

h4 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: solid;
    padding: 15px;
    width:fit-content
}