body {
    background: rgb(235,234,235);
background: linear-gradient(180deg, rgba(235,234,235,1) 0%, rgba(60,178,203,1) 47%, rgba(0,0,0,1) 100%);
}

h4 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: solid;
    padding: 15px;
    width:fit-content
}

:root {
    --bg_main: rgb(235,234,235);
    background: linear-gradient(180deg, rgba(235,234,235,1) 0%, rgba(60,178,203,1) 47%, rgba(0,0,0,1) 100%);
    --text_light: #fff;
    --text_medium: #2e89b3;
    --text_dark: #103341;
    --red: #2C95A3;
    --dark_red: #084E63;
    --orange: #FF8C00;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .top-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .heading {
    display: flex;
    width: auto;
    flex-direction: center;
    margin: auto;
    padding: 40px;
    font-size: 50px;
    color: var(--text_dark);
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 15px;
  }
  .form-control {
    border: solid;
    border-width: 1px;
    padding: 5px;
    background-color: var(--text_light);
    border-radius: 2.5px;
    color: var(--text_dark);
  }
  button {
    cursor: pointer;
    border: solid;
  }
  
  #searchBtn {
    color: var(--text_dark);
  }
  #clearHistoryBtn{
    color: var(--text_dark);
  }
  input {
    -webkit-appearance: none;
  }
  button,
  input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
  }

  ul {
    list-style: none;
  }
  body {
    background: var(--bg_main);
  }
  
  .top-banner {
    color: var(--text_light);
  }
  p {
    align-items: flex-end;
    text-align: center;
    font-style: oblique;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    border-style:solid;
    color: black;
  }
  #forecast {
      display:flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      margin: auto;
      border-radius: 15px;
  }  
  
  
  
  .itemBlock {
      align-items: center;
      text-align: center;
      color: var(--text_medium);
  }
  .currentCity {
    display: grid;
    justify-content: center;  
    padding: 20px;
    /* border: solid lightcyan; */
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: var(--text_medium);
    font-size: larger;
    margin: auto;
    align-items: center;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    border: solid;
    border-color: var(--text_dark);
    background-color: var(--text_light);
    color: var(--text_dark);
    color: black;
    border: solid;
    border-color: rgb(3, 3, 99);
    border-radius: 2.5px;
    background-color: rgb(42, 156, 172);
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
  }